.container {
  max-width: 600px;
  width: 100%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--color-text-dark);
}

.section {
  margin-bottom: 1.5rem;
}

.sectionTitle {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--color-text-dark);
}

.text {
  margin: 0.2rem 0;
  color: var(--color-text-dark);
}

.select {
  all: unset;
  width: 20%;
  height: 80%;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-border);
  font-size: 1rem;
  background-color: white;
}

.button {
  width: 100%;
  margin-top: 1rem;
}

.confirmBox {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
  border-top: 2px solid #ddd;
  font-family: var(--font-krabby);
}


.paymentMethods {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.paymentMethods label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
}


.paymentMethods {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.methodButton {
  background-color: #ffffff;
  height: 80%;
  border: 2px solid var(--color-border);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: var(--font-krabby), var(--font-korean), sans-serif;
}

.methodButton input {
  display: none;
}

.methodButton:hover {
  background-color: var(--color-secondary);
}

.selected {
  border-color: var(--color-accent);
  background-color: var(--color-secondary);
}
