.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: 'KrabbyPatty', 'Courier New', monospace, Arial, sans-serif;
}

.label {
  font-size: 0.9rem;
  color: var(--color-text-dark);
  font-weight: 500;
  font-family: 'KrabbyPatty', 'Courier New', monospace, Arial, sans-serif;
}
.input {
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1rem;
  font-family: 'KrabbyPatty', Arial, sans-serif;
  border: 1px solid var(--color-border);
  border-radius: 1.5rem;
  background-color: var(--color-secondary);
  color: var(--color-text-dark);
  transition: border-color 0.2s ease;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border: 2px solid var(--color-accent-blue);
  box-shadow: 0 0 0 2px var(--color-accent-blue);
}

.input::placeholder {
  color: var(--color-placeholder);
  font-family: 'KrabbyPatty', Arial, sans-serif;
}


.input[type="password"] {
  font-family: Arial, sans-serif !important;
}

input[type=password]::placeholder {
	font-family: 'KrabbyPatty'; 
}