.header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  border-bottom: 1px solid #ccc;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.welcome {
  font-size: 1rem;
  color: #333;
}
